.expenseBox {
    border: 1px solid;
    border-radius: 10px;
    border-color: pink;
}

.expenseBox_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.boxAvailable {
    opacity: 0.5;
    color: green;
}

.boxNotAvailable {
    opacity: 0.5;
    color: red;
}